body {background-color: black; margin: 0px; font-family: Helvetica; color: seashell;
opacity: 0.9; font-size: 22px; font-family: Helvetica;}
div.header {display: flex; border-bottom: 1px solid seashell; height: 69px;
align-items: center; width: 100%; position: fixed; background-color: black; z-index: 5;}
div.supermain {position: relative; top: 14px;}
div.logo img {height: 50px; width: auto; margin-left: 10px;}
div.navigation {position: absolute; right: 10px;}
nav li {display: inline-block;}
nav li a {font-size: 22px; color: seashell; margin: 8px;}
div.main {display: flex; justify-content: center; padding-top: 57px;}
div.mission-container {height: 700px; width: 1200px; display: flex; align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");}
div.ourmission-section {background-color: black; height: 125px; opacity: 0.9;
width: 1200px; text-align: center; font-family: Helvetica; display: flex;
flex-direction: column; align-items: center;}
h2 {padding-bottom: 0px; margin-top: 13px; margin-bottom: 0px;}
div.month {padding-top: 50px;}
div.monthpart1 {text-align: center; margin-top: 70px;}
div.monthpart2, div.monthpart3 {display: flex; justify-content: center;}
.berryblitz img, .spicedrum img, .donuts img, .myrtle img, .bedford img {height: 200px; width: 300px;}
div.berryblitz, div.spicedrum, div.donuts, div.myrtle, div.bedford
{text-align: center; margin-top: 0px; padding-top: 0px;}
.monthpart2 h3, .monthpart3 h3 {margin-top: 6px;}
div.spicedrum {margin-right: 50px; margin-left: 50px;}
div.myrtle {margin-right: 25px;}
div.bedford {margin-left: 25px;}
div.locations-container {display: flex; flex-direction: column;
  background-image: url("../resources/locations-background.jpg");
height: 500px; width: 1200px; align-items: center; justify-content: center; margin-top: 40px;}
div.downtown, div.east, div.oakdale {width: 300px; height: 300px; background-color: black;
text-align: center; display: flex; flex-direction: column; align-items: center;
font-size: 22px; margin-top: 15px;}
div.boxes {display: flex;}
div.locationstext, div.name {font-size: 22px; text-align: center;}
div.locationstext {margin-bottom: 15px;}
div.east {margin-left: 40px; margin-right: 40px;}
div.largecontainer {display: flex; justify-content: center;}
div.footer {display: flex; flex-direction: column; align-items: center; height: 200px;}
div.email, div.number {font-size: 24px; display: flex; padding-bottom: 0px; margin-bottom: 0px;}
div.number {display: flex; margin-top: 0px; padding-top: 0px;}
div.copyright {margin-left: 20px; font-size: 22px; margin-bottom: 10px;}
